{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        {{ partial "call.html" (dict "site" .Site "context" . "show_button" "false") }}
        <div class="content mt-4">{{.Content}}</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.7576396967256!2d-3.6446654268684577!3d40.43636521090075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f3f7441149d%3A0x83faa2e7627f236e!2sCalle%20de%20Elfo%2C%20116%2C%2028027%20Madrid!5e0!3m2!1ses!2ses!4v1616515900760!5m2!1ses!2ses" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy">
</iframe>
      </div>
      
    </div>
  </div>
</div>
{{ end }}